$b-qara:black;
$b-sari:yellow;
$b-yasil:green;
$b-mavi:blue;
$ag:white;
$cho:chocolate;
$b-gray:rgb(255, 249, 249);

$font-basliq1:50px;
$font-basliq2:20px;
$font-basliq3:21px;
$font-basliq4:30px;
$font-p:17px;


$color-h:black;
$color-h4:chocolate;
$color-p:rgb(163, 162, 162);
